<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitemap</title>
    <style>
        body{
            background-color: lightslategray;
        }
    </style>
</head>
<body>
    <h1><u><b> SiteMap of the website FLAVORISTA RESTAURANT : </b></u></h1>
    <br>
    <p><h3> User Panel </h3></p>
    <ol>
        <li> Home page:- <a href="http://localhost/RestaurantProject-main/customerSide/home/home.php"> Home </a></li>
        <li> Reservation page:- <a href="http://localhost/RestaurantProject-main/customerSide/CustomerReservation/reservePage.php"> Reservation </a></li>
        <li> Staff(admin) login page:- <a href="http://localhost/RestaurantProject-main/adminSide/StaffLogin/login.php"> Staff </a></li>
    </ol>
<br>
<br>
    <p><h3> Admin Panel </h3></p>
    <ol>
        <li> Point of Sale:- <a href="http://localhost/RestaurantProject-main/adminSide/posBackend/posTable.php"> Point of Sale </a></li>
        <li> Bills:- <a href="http://localhost/RestaurantProject-main/adminSide/panel/bill-panel.php"> Bills </a></li>
        <li> Table:- <a href="http://localhost/RestaurantProject-main/adminSide/panel/table-panel.php"> Table </a></li>
        <li> Menu:- <a href="http://localhost/RestaurantProject-main/adminSide/panel/menu-panel.php"> Menu </a></li>
        <li> Reservations:- <a href="http://localhost/RestaurantProject-main/adminSide/panel/reservation-panel.php"> Reservations </a></li>
        <li> Staff:- <a href="http://localhost/RestaurantProject-main/adminSide/panel/staff-panel.php"> Staff </a></li>
        <li> View All Accounts:- <a href="http://localhost/RestaurantProject-main/adminSide/panel/account-panel.php"> View All Accounts </a></li>
    </ol>
</body>
</html>